body {
    text-align: center;
    background-image: linear-gradient(70deg,#FF78AC,  #A8D5E3, #F2F0EA);
}

#about {
    background-image: url(assets/images/pic3.jpg);
    background-size: cover; /* התמונה מכסה את כל הרקע */
    background-position: top center; /* מוודא שהחלק העליון יישאר גלוי */
    background-repeat: no-repeat; /* מונע חזרה של התמונה */
    height: 100vh;
    margin: 0;
}

h1 {
    border: 1px solid black;
    display: inline-block;
    border-radius: 4px;
    background-image: linear-gradient(70deg,aqua ,pink,white);
}

.text {
    font-size: 20px;
    transition: all 0.3s ease; 
  }
  
.text:hover::after {
    content: "(actually not so big)";
    color: #FF78AC;
}

p {
    font-size: larger;
}

/* .listed-items {
    padding: 0%;
    margin: 0%;
    list-style-type: none;
   display: flex;
   flex-direction: column;
   
   
}

.listed-items li {
    margin: 10px 0;  
    padding-left: 20px; 
     text-align: left; 
    border-left: 2px solid saddlebrown; 
 }  */

.listed-items:hover {
    color: blueviolet
}

a {
    color: inherit;
    color: #D2691E;
}

.einav {
    color: #FF78AC;
}
.einav2 {
    color: aquamarine;
}
.einav3 {
    color: white;
}

iframe {
    position: absolute;
    bottom: 0%;
    left: 0%;
}

